
@{
    ViewBag.Title = "Index";
}

<h2>Champlain College Computer Science Three Year Program</h2>
<p>
    ABOUT THE PROGRAM:
    Computer Science Technology is a three-year career program designed to provide you with a strong background in object-oriented methodology, particularly in program design and system analysis. Web concepts are integrated into a majority of courses and focus on the development of dynamic database-driven web applications on a variety of operating system platforms. The program will focus on computer programming, operating systems, database and web technology, data communication and networking, security and advanced programming languages.

    As a student of the Computer Science Technology diploma program, you will learn in an environment where classes are given in modern facilities and where every course uses a combination of class and laboratory time. The software used in this program is constantly updated with the latest versions. As a bonus, each student benefits from access to the same software for use on their own devices as part of our academic alliances with software vendors. Our staff, faculty and student advisors are committed to helping you succeed and prepare for a stage-training program in Semester 6, which is given in an external business institution.

    The program features a well-rounded blend of technologies that will prepare you to graduate as a developer, technician, or administrator of technologies in a variety of industries. Our advisory committee of IT business professionals reviews the offerings each year and provides us with suggestions to adjust the curriculum to reflect current and forecast computer technology needs.
</p>
