
@{
    ViewBag.Title = "Semester5";
}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
<h2>Semester 5</h2>

<table>
    <tr>
        <th>Number</th>
        <th>Course Name</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Database Administration and Security</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mobile Application Development 2: iOS</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Final Project 1</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Azure for SQL Developers with ASP.NET and MVC</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Design and Prototyping of Connecting Devices</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Professional Intergration And High-Tech Entrepreuneurship</td>
    </tr>
</table>