
@{
    ViewBag.Title = "Testimonials";
}

<h2>Testimonials</h2>

<p>"Alright guys, who wants to play Brawlhalla?</p>
<i>-Hicham Belkaid</i>
<br />
<br />
<br />
<p>"Anybody see Horia this morning?</p>
<i>-Everyone</i>

